/* DEBUG */


#testa,
#jumbotron{
        color: white;
}

#testa{
    background-color: rgb(44,62,80);
}

#jumbotron,
#about{
    background-color:rgb(26,188,156);
}

#about{
    margin-top: 20px;
}



.contieni-immagine{
    max-height: 500px;
    max-width: 500px;
    object-fit: cover;
    margin: auto;
    padding: 50px ;
}

.contieni-immagine-portfolio{
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin: auto;
}

footer{
    background-color: rgb(44,62,80);
    color: white;
}

#footer-up{
    background-color: rgb(58,84,109);
    display: flex;
}

#footer-down{
padding: 20px 0;
text-align: center;
}
